<div class="container d-flex navbar-lewagon navbar-collapse">
    <i id="icon" class="fa-solid fa-film"></i>
    <nav class="navbar">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button" href="/root"><%= link_to "Home", lists_path %></button>
      <button class="btn btn-outline-success me-2" type="button" href="/root"><%= link_to "Add List", new_list_path %></button>
    </form>
    </nav>
  </div>
